*.env

backend/node_modules/
backend/.wwebjs_cache/*
backend/public/*
backend/public/images
backend/.env
!backend/public/.gitkeep
!backend/public/images/.gitkeep


frontend/node_modules/
!frontend/.env.example
